
<!doctype html>
<html>
<head>
    <title>Twitter Api Handle</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"> <!-- load fontawesome -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#myTable').DataTable();
        });
    </script>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
    <body>
        <div class="container">
            <p>Showing 100 entries starting from <%= id %> out of <%= count[0].count %> tweets relates to string `<%= string %>`.</p>
            <table id="myTable" class="table table-striped table-bordered" style="table-layout: fixed;word-wrap: break-word;">
                <thead>
                     <tr>
                        <td class="center-align">Id</td>
                        <td class="center-align">Tweet Id</td>
                        <td class="center-align">Text</td>
                        <td class="center-align">User Id</td>
                        <td class="center-align">Retweeted User</td>
                        <td class="center-align">Timestamp</td>
                        <td class="center-align">String</td>
                    </tr>
                </thead>
                <% stream.forEach(function(stream) { %>
                <tr>
                    <td><%= stream.id %></td>
                    <td><%= stream.tw_id %></td>
                    <td><%= stream.text %></td>
                    <td><%= stream.id_user %></td>
                    <td><%= stream.retweeted %></td>
                    <td><%= stream.timestamp %></td>
                    <td><%= stream.string %></td>
                </tr>
                <% }); %> 
                <tbody>
                </tbody>
            </table>
        </div>
    </body>
</html>   